@layer core{
    body {
        margin-block: 2.5rem 1.75rem;
        font-size: 1.25rem;
        color: white;
        background-color: rgb(1, 37, 68);
        overflow-y: scroll;
    }

    .box {
        min-height: 4rem;
        border: 1px solid silver;
        border-radius: 0.5rem;
        background-color: rgb(92, 92, 207);
    }
    .img {
        min-height: 7.5rem;
        background-color: rgb(167, 71, 71);
        background-image: url(/assets/images/img.jpg);
        background-size: cover;
    }
    .txt {
        background-color: rgb(92, 92, 207);
    }
    .txt::after {
        content: 'Lorem Ipsum Dolor Sit Amet';
    }

    header:has(>h1) {
        text-align: center;
        font-size: 1.75em;
        margin-bottom: 1em;
    }

    section {
        max-width: 1000px;
        margin-inline: auto;
        border: 1px solid grey;

        & > :is(header, details) {
            padding-inline: 2rem;
        }

        & > header {
            text-align: center;
            margin-block: 2rem;

            & h2{
                font-size: 2rem;
            }

            & h2 +p {
                margin-top: 0.7em;
            }
        }

        &+& {
            margin-top: 5rem;
        }

        & content {
            container-name: demo-root;
            container-type: inline-size;
            display: block;
            overflow: hidden;
            resize: both;
            min-height: 4rem;
            max-height: min(50vh, 100rem);
            min-width: 4rem;
            max-width: 100%;
            border: 2px solid red;
            margin-bottom: 1.5rem;
        }

        & details {
            padding-block: 1.5rem;
            background-color: hsl(0, 0%, 0%, 0.5);
        }

        & .copy-block {
            & + & {
                margin-top: 2rem;
            }

            & button {
                cursor: pointer;
                display: block;
                margin-left: auto;
            }

            & code {
                display: block;
                white-space-collapse: preserve;
            }
        }
    }
}